# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp
.vscode
# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

udp_button_app/Windows
udp_button_app/upd_button_app/build
udp_button_app/.dart_tool
udp_button_app/android/
udp_button_app/ios/
udp_button_app/linux/
udp_button_app/macos/
udp_button_app/web/
udp_button_app/pubpsec.lock

udp_button_app/android/key.properties
